@pokerRatio: 0.719;
@bridgeRatio: 0.64;
@cardHeight: 7em;
@cardWidth: @cardHeight * @pokerRatio;

@cardSpace: .25em;

.card {
  position: relative;
  display: inline-block;
  padding: @cardSpace;
  font-family: 'monospace';
  font-weight: bold;
  width: @cardWidth;
  height: @cardHeight;
  overflow: hidden;
  background-color: @white;
  border: .08em solid @black;
  border-radius: 0.5em;
  box-shadow: 1px 1px 3px @black;

  &.back {
    // http://lea.verou.me/css3patterns/#shippo
    background-color: @color1;
    background-image:
      radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
      radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
    background-size: 2em 2em;
    background-position:0 0, 1em 1em;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: .5em solid @color4;
    }

    & * {
      display: none;
    }
  }

  &.red {
    color: @red;
  }

  .corner {
    position: absolute;
    top: @cardSpace;
    left: @cardSpace;
    text-align: center;
    font-size: .8em;

    & ~ .corner {
      bottom: @cardSpace;
      right: @cardSpace;
      left: initial;
      transform: rotate(180deg);
    }

    & > div {
      font-size: .8em;
    }
  }

  &.ten .corner {
    text-align: left;
  }


  .pips {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: @cardHeight;
    line-height: @cardHeight;

    & > div {
      position: absolute;
    }

    .big {
      font-size: 2.5em;
    }

    .h1, .h2 {
      margin-left: -.5em;
    }
    .h3 {
      margin-right: -.5em;
    }
    .v1, .v2, .v3, .v4, .v5 {
      margin-top: -.5em;
    }
    .v6, .v7, .v8, .v9 {
      margin-bottom: -.5em;
      transform: rotate(180deg);
    }

    .h1 {left: 30%;}
    .h2 {left: 50%;}
    .h3 {right: 30%;}

    .v1 {top: 20%;}
    .v2 {top: 30%;}
    .v3 {top: 35%;}
    .v4 {top: 40%;}
    .v5 {top: 50%;}
    .v6 {bottom: 40%;}
    .v7 {bottom: 35%;}
    .v8 {bottom: 30%;}
    .v9 {bottom: 20%;}

  }
}
