html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: @color5;
  color: @black;
  margin: 3vh 3vw;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#deck {
  .emptyPile;
  margin: 0;
  background: @color4;
  box-shadow: inset 0 1px 4px @black;
  &:empty {
    border: none;
  }
}

#waste {
  .emptyPile;
}

#foundations {
  float: right;

  .foundation {
    .emptyPile;
  }
}

#piles {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;

  .pile {
    .emptyPile;
    margin: 0;

    .card {
      position: relative;
      margin-bottom: -@cardHeight + 2vw;

      &:hover:not(.back) {
        margin-bottom: -@cardHeight + 3vw;
      }
    }
  }
}
